.modal{
    padding-top: 30vh;
}

.modal-header {
    border-bottom: none;
}

#popup {
    background-color: rgba(255, 255, 0, 0.781);
    color: black;
    border: 5px solid rgba(255, 166, 0, 0.74);
    box-shadow: orange 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

input {
    background-color: rgba(255, 166, 0, 0.767);
    font-size: 25px;
    padding: 5px;
}

input:hover {
    background-color: rgba(255, 166, 0, 0.342);
}

#email-inputbox {
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255, 166, 0, 0.349);
    border: solid grey 2px;
}

#email-inputbox:hover {
    background-color: rgba(189, 182, 171, 0.705);
    border: solid grey 2px;
}
#submit-btn {
    background-color:rgba(255, 166, 0, 0.74);
    margin-left: 30%;
    padding: 5px;
    font-size: 25px;
}