.customized-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(255, 213, 0, 0.753);
  padding: 1em;
  /* border-radius: 0px 0px 50px 50px; */
}

.dropdown:hover,
.dropdown-item:hover,
#btn-link:hover,
.nav-link:hover {
  background-color: orange;
  color: black;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.cover {
  filter: blur(0px);
}

.cover li {
  display: inline-block;
  padding: 40px;
  place-items: center;
}

.cover h1 {
  font-family: "Audiowide", cursive;
  font-size: 80px;
  color: rgba(245, 245, 245, 0.89);
}

.cover p {
  font-family: "Audiowide", cursive;
  font-size: 40px;
  color: rgba(245, 245, 245, 0.74);
}

#header-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* #header-container img {
    position: relative;
    background-image: url(./img/logo.png);
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
  } */

.iconn:hover {
  color: black;
}

.cover i:hover {
  color: black;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.762)),
    url(./img/background.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  /*for some other browsers*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  place-items: center;
}

.hero-text {
  text-align: center;
  place-items: center;
  /* align-items: center;
    justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

#logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .hero-image {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.125),
        rgba(0, 0, 0, 0.762)
      ),
      url(./img/phonebackground.png);
  }

  .hero-text {
    padding-top: 200px;
  }

  .hero-text hr {
    /* max-width: 200px; */
    width: auto;
  }

  .hero-text p {
    font-size: 20px;
    place-items: center;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .hero-text a {
    size: 20px;
    display: inline !important;
  }
  .hero-text ul li {
    display: inline !important;
  }
}

.cover hr {
  border: 3.5px dotted whitesmoke;
  width: 50%;
}

.icons {
  color: orange;
  display: inline;
}

.icons:hover {
  /* background-color: black; */
  color: rgba(255, 225, 0, 0.897);
}
